body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 80px;
}

.main-section {
    display: flex;
    justify-content: center;
    flex: 1;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;
    padding: 100px 0;  
    
    border: 5px solid #000;
}

.panel-instruments {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
}

.panel-colors {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
}

.grid-size {

}

.grid-size__label {

}

.grid-size__input {

}

.random-color {

}

.random-color__thumb {

}

.eraser {

}

.btn {

}

.btn_clear {

}

.container_draw {
    width: 704px;
    height: 100%;

    border: 2px solid #000;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    width: 100%;
    height: 100%;
}

.grid__pixel {
    border: 1px solid #000;
}

.container_colors {
    width: 304px;
    height: 304px;

    border: 2px solid #000;
}

.current-color {
    display: inline-block;

    width: 70px;
    height: 70px;

    border: 7px solid goldenrod;
    border-radius: 50%;
    background-color: #000;
}

.btn_grid-reset {

}

.footer {
    height: 80px;
}