/* common styles ======================= */

:root {
    --main-color: #000; 
    --secondary-color: #fff;
}

body {
    margin: 0;
    background: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 80px;
}

.footer {
    height: 80px;
    margin-top: auto;
}

.main-section {
    display: flex;
    justify-content: center;
    
    height: 80%;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;
    padding: 10px 0;  
    
    border: 5px solid var(--main-color);

    overflow: hidden;
}

.btn {
    
}

/* Panel_left ======================== */ 

.panel_left {    
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: none;
}

.app-mode {
    width: 140px;
    height: 100px;
    margin-bottom: 50px;
    padding-top: 34px;
    
    overflow: hidden;
    cursor: pointer;
}

.app-mode__inner {
    position: relative;
    
    width: 140px;
    height: 140px;

    border: 5px dotted var(--main-color);
    border-radius: 50%;

    transition: transform .6s linear;
}

.icon {
    position: absolute;    
    z-index: 1;

    border-radius: 50%;
}

.icon_sun {
    width: 75px;
    height: 75px;

    top: -37px;
    left: 20%;

    fill: gold;
}

.icon_moon {
    bottom: -25px;
    left: 39px;

    height: 50px;
    width: 50px;

    border-radius: 50%;
    background-color: goldenrod;
}

.grid-size {

}

.grid-size__label {

}

.grid-size__input {

}

.random-color {

}

.random-color__thumb {

}

.eraser {

}

.btn_clear {

}

/* Panel_right ====================== */

.panel_right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: none;
}

.color-accordion {
    max-height: 372px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    transition: max-height 1.4s ease-in-out;
}

.container_colors {
    width: 304px;
    height: 304px;

    border: 2px solid var(--main-color);
}

.btn_new-colors {
    display: block;
    width: 100%;
    height: 34px;
}

.btn_accordion {
    height: 34px;
    flex: 0 0 auto;
}

/* .arrow {
    width: 30px;
    height: 30px;

    border-left: 4px solid var(--main-color);
    border-top: 4px solid var(--main-color);

    transform: rotate(-45deg);
} */

.color-pickers {

}

.color {
    position: relative;
    display: inline-block;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 7px solid; 
    border-color: #866105;

    overflow: hidden;
}

.color_active {
    border-color: #daa520;
}

.color-picker {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    height: 100px;
    width: 100px;

    cursor: pointer;

    transform: translate3d(-50%,-50%,0);
}

/* Container_draw ===================== */

.container_draw {
    width: 704px;
    height: 100%;

    border: 2px solid var(--main-color);
    border-top: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    width: 100%;
    height: 100%;
}

.grid__pixel {
    border: 1px solid var(--main-color); 
}